<!DOCTYPE html>
<html lang = "ja">
<head>
<title>問い合わせ</title>
<meta charset="utf-8">
<link rel="stylesheet" href="">

</head>
<body>
<h1>ログイン</h1>

<form action="admin_login.php" method="POST">
id:<input name="id" value=""><br>
password:<input type="password" name="pw"><br>
<button>ログイン</button>
</form>

</body>
</html>