{# layout_base.twig #}
<!DOCTYPE html>
<html lang = "ja">
<head>
<title>問い合わせ管理画面{% block title %} {% endblock %}</title>
<meta charset="utf-8">
<link rel="stylesheet" href="">

</head>
<body>
{% block body %}{% endblock %}
</body>
</html>