<!DOCTYPE html>
<html lang = "ja">
<head>
<title>問い合わせ</title>
<meta charset="utf-8">
<link rel="stylesheet" href="">

</head>
<body>
<h1>お問い合わせ:確認画面</h1>


名前：{{ data.name }}<br>
emailアドレス:{{ data.email }}<br>
問い合わせ内容:
<pre>
{{ data.body }}
</pre>
<form action="./inquiry_fin.php">
<button>問い合わせる</button>
</form>

</body>
</html>