<!DOCTYPE html>
<html lang = "ja">
<head>
<title>問い合わせ</title>
<meta charset="utf-8">
<link rel="stylesheet" href="">

</head>
<body>
<h1>お問い合わせ</h1>
<div class="memo">
*Form問い合わせ*<br>
</div>
<form action="inquiry_comfirm.php" method="post">
名前：<input name="name"><br>
emailアドレス:<input name="email"><br>
問い合わせ内容:<textarea name="body" rows="5" cols="50"></textarea><br>
<button>問い合わせる</button>
</form>

</body>
</html>